<%- include('partials/header') %>


<section class="bio-section section">
    <h2>Biografi</h2>
    <hr id="hr">
    <div class="bio-container">
        <div class="bio-img-container">
          <img src="https://1drv.ms/i/s!Ak9RIJnUYTl2hoUBJMeBU3YXL5Q--Q?embed=1&width=502&height=701" alt="bitte brun solglasögon profilbild">
          <img src="https://1drv.ms/i/s!Ak9RIJnUYTl2hp46uT77T2UDzbYR-Q?embed=1&height=660" alt="bitte visar upp sina tavlor atelje utställning">
        </div>
        <h6>inspiration</h6>
        <p>Jag inspireras av tankar och reflektioner om och ur livet. Samtal med vänner och familj som speglar känslor och att vända en svår känsla till någonting ljust. Varje tavla har ofta någonting speciellt att berätta för mig själv i processen.</p>
<p>Det jag älskar mest av allt är energin som uppstår genom de möten med människor som mina tavlor för med sig. Det händer någonting speciellt med ett konstverk när de möts av en betraktare, som i sin tur tolkar sina egna känslor, tankar och reflektioner. Dessa möten tar mitt skapande framåt. Det lär, inspirerar och utvecklar mig. Det är först då som tavlan är helt klar! </p>

        <h6>bakgrund</h6>
        <p>Som barn och ung tecknade jag mycket. Det blev en meditativ plats för stillhet och fantasi och jag kunde befinna mig i den bubblan i timmar. Vid 18-års ålder började jag med kroki och måleri, då med olja. Sedan fann jag konsten att skulptera. Skulptera var MAGISKT och något jag tror jag kommer ta upp i framtiden. Men jag var ung och livet kom emellan..

Jag skapade en stor fin familj och lade konsten helt åt sidan utan en tanke på att ta upp den igen. Kanske var jag rädd för att misslyckas, eller rädd att det inte skulle bli tillräckligt fint, unikt och speciellt för att duga. </p>
        <p>Så det tog 30år…
En ny längtan vaknade inom mig när barnen blev vuxna. Jag fann skapandet i att fotografera då jag fascinerades av det vardagliga och flyktiga ögonblicket i en fryst bild. Tror att detta har hjälpt mig att återigen våga ta steget till måleriet. 

Sommaren 2020 fick jag barnbarn och kort därefter dog min pappa. Någonting inom mig förändrades i grunden och jag fick nya insikter om vad konstens betydelse är för mig. 

Detta blev starten för ALLA mina tavlor jag hitintills målat.</p>

        <h6>artiklar</h6>
        <p>artportable - <a id="kontakt-info" href="https://artportable.com/artiklar/bitte-brun-sprider-livskraft-och-energi-i-holistiska-verk?fbclid=IwAR2er36goXV42okipLhwsq37nxi8Oy3KBzVJKwz8lp-8VPl0iZ78B20HNM0">Bitte Brun sprider livskraft och energi i holistiska verk</a></p>
    </div>
</section>



<%- include('partials/footer') %>