<%- include('partials/header') %>






<div class="kontakt-section section">

    <h2>Kontakt</h2>
    <hr id="hr">

    <div class="kontakt-container">
        <p>Vid intresse för min konst, besök i min ateljé, sammarbeten eller övriga frågor går det bra att kontakta mig via min mail <a id="kontakt-info" href="mailto:artbittebrun@gmail.com">artbittebrun@gmail.com</a> eller direktmeddelande via min instagram <a id="kontakt-info" href="https://www.instagram.com/artbittebrun/">@artbittebrun</a>.</p>
        <iframe id="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8102.285878416948!2d18.053002443101654!3d59.490239322039166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9a20f6d7b853%3A0xb8e5d64b41c26fac!2sVikingav%C3%A4gen%2045%2C%20187%2070%20T%C3%A4by!5e0!3m2!1ssv!2sse!4v1652710866748!5m2!1ssv!2sse" width="600" height="450" style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


</div>






<%- include('partials/footer') %>