PassengerNodejs /usr/bin/node
PassengerNodejs bin/www
PassengerAppEnv development

DirectoryIndex disabled

RewriteEngine On
RewriteCond %{HTTP:Connection} =upgrade [NC]
RewriteCond %{HTTP:Upgrade} =websocket [NC]
RewriteRule ^(.*)$ ws://localhost:40420/$1 [L,QSA,P]
RewriteRule ^(.*)$ http://localhost:40420/$1 [L,QSA,P]